services:
  phyapp:
    build: .
    ports:
      - "8080:80"
    env_file:
      - ./environment/conector.env
    depends_on:
      - mydb
  mydb:
    image: postgres:18
    env_file:
      - ./environment/postgresDocker.env
    volumes:
      - mydb-data:/var/lib/postgresql/data

volumes:
  mydb-data:
